<main>
  @let screenWidth = (screenSizeService.getScreenWidthObservable() | async) || 0;
  <div class="sliding-film-roll" *ngIf="screenWidth >= 600"></div>

  <div class="content-body">
    <header>
      <span class="title text-expansion-animation">Angular Movie Database Application</span>
    </header>

    <div class="main-body">
      <app-language-selector [compactScreenWidthThreshold]="1200"></app-language-selector>

      <router-outlet></router-outlet>
    </div>

    <footer>
      <div class="link-icons">
        <img class="portfolio-icon hover-glow" src="../../../../assets/icons/portfolio.svg" alt="Portfolio" matTooltip="Portfolio" (click)="openPortfolio()" (keydown.enter)="openPortfolio()" tabindex="0">
        <img class="linkedin-icon hover-glow" src="../../../../assets/icons/linkedin.svg" alt="LinkedIn" matTooltip="LinkedIn" (click)="openLinkedIn()" (keydown.enter)="openLinkedIn()" tabindex="0">
        <img class="github-icon hover-glow" src="../../../../assets/icons/github.svg" alt="Github" matTooltip="Github" (click)="openGithub()" (keydown.enter)="openGithub()" tabindex="0">
      </div>
      <div class="dev-info">{{'© 2024 Divaldo Aderaldo de Oliveira Júnior'}}</div>
    </footer>
  </div>

  <div class="sliding-film-roll" *ngIf="screenWidth >= 600"></div>
</main>
